<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAT-CH Market</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/main.css}">
        

</head>
<body>
    
    <div class="container">

        <div class="logo">
            <a href="">
                <img th:src="@{/img/cat.png}" alt="로고">
            </a>
            <h2> CAT-CH Market </h2>
        </div>

        <div>
            <ul>
                <!-- 인증하지 않은 사람이 가능한 메뉴 -->
                <li>
                    <a sec:authorize="isAnonymous()" th:href="@{/user/join}">회원가입</a>
                </li>
                <li>
                    <a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
                </li>
                <!-- 인증과 관계 없음 -->
                <li>
                    <a th:href="@{/board/boardList}">판매정보 게시판</a>
                </li>
                <!-- 인증된 사람만 가능한 메뉴 -->
                <li>
                    <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
                </li>
                <li>
                    <a sec:authorize="isAuthenticated()" th:href="@{/search/searchList}">판매상품 검색</a>
                </li>
            </ul>
        </div>


    </div>
    
</body>
</html>