<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매글 등록</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/write.css}">

    <!-- CK editor -->
    <!-- <script src="https://cdn.ckeditor.com/ckeditor5/41.2.1/classic/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/41.2.1/classic/translations/ko.js"></script> -->
    <script th:src="@{/script/ckeditor.js}"></script>

    <!-- JQuery -->
    <script th:src="@{/script/jquery-3.7.1.min.js}"></script>

    <script>
        $(function() {
            
            // CKEditor 초기화 및 인스턴스 생성
            let ckEditorInstance;
            ClassicEditor.create(document.querySelector("#ckeditor"), {
            }).then(editor => {
                // 에디터 인스턴스를 저장
                ckEditorInstance = editor;
            }).catch(error => {
                console.error(error);
            });

            $("#saveBtn").on("click",  function () {
                submitVaildation(ckEditorInstance);
            });

        })

        function submitVaildation(ckEditorInstance) {
            // 제목 및 내용 가져오기
            let title = $("#title").val().trim();
            let contents = ckEditorInstance.getData().trim();
            // DB에 저장하기 위해 CK editor에 값 넣기
            $("#contents").val(contents);

            // 유효성검사를 위해 HTML 태그를 제외한 순수한 텍스트 검출(정규표현식)
            let plainText = contents.replace(/<[^>]+>/g, '');

            // 제목 및 내용 유효성 검사
            if (title.length <= 5) {
                alert("제목을 5자 이상 입력해주세요");
                $("#title").select();
                return;
            }
            if (plainText.length <= 5) {
                alert("내용을 5자 이상 입력해주세요");
                ckEditorInstance.focus();
                return;
            }

            // 유효성 검사 통과되면 submit
            $("#boardInfo").submit();
        }
    </script>

</head>
<body>

    <div class="container">
    
        <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/img/cat.png}" alt="로고">
            </a>
            <h2>판매글 등록</h2>
        </div>
    
        <div class="content">
    
            <form th:action="@{/board/boardWrite}" method="post" id="boardInfo">
                <!-- 수정할 것 -->
                <input type="hidden" name="memId" th:value="${#authentication.name}">

                <label for="category" class="category">
                    카테고리 : <select name="category" id="category">
                                    <option value="clothes">옷</option>
                                    <option value="shoes">신발</option>
                                    <option value="bag">가방</option>
                                </select>
                </label>

                <label for="title" class="title">
                    제목 : <input type="text" name="title" id="title">
                </label>

                <label for="contents" class="contents">
                    내용 : <textarea name="ckeditor" id="ckeditor" cols="30" rows="10"></textarea>
                </label>

                <!-- CK editor 태그 제거된 내용 -->
                <input type="hidden" name="contents" id="contents">

                <input type="button" id="saveBtn" class="btn btn-info" value="저장">

            </form>
            
        </div>
        
    </body>
</html>