<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매 정보 게시판</title>
</head>
<body>

    <div class="container">

        <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/img/cat.png}" alt="로고">
            </a>
            <h2> 판매 정보 게시판 </h2>
        </div>

        <div class="regist">
            <a th:href="@{/board/boardWrite}">판매글 등록</a>
        </div>

        <div class="content">

            <span th:if="${#lists.isEmpty(list)}" style="color: red; font-weight: bold;"> <br><br> 판매 정보가 존재하지 않습니다.</span>

            <table th:unless="${#lists.isEmpty(list)}">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                </tr>

                <tr th:each="board : ${list}">
                    <td th:text="${board.boardNum}"></a></td>
                    <td><a th:href="@{/board/boardDetail(boardNum=${board.boardNum})}" th:text="${board.title}"></a></td>
                    <td th:text="${board.memId}"></td>
                </tr>
            </table>

        </div>


    </div>
    
</body>
</html>