<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매 정보 게시판</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/list.css}">
    
    <!-- JQuery -->
    <script th:src="@{/script/jquery-3.7.1.min.js}"></script>

    <script>
        $(function(){
            $("#category").on("change",listByCategory);
            $("#searchWord").on("keyup",listByCategory);
            init();
        });
        
        // 모든 결과 출력
        function init() {
            $.ajax({
                url: "/search/searchByCategory",
                method: "GET",
                data: { "category": "total", "searchWord": "" },
                success: function (resp) {
                    console.log(resp);
                    let data = `<tr>
                                    <th>번호</th>
                                    <th>카테고리</th>
                                    <th>제목</th>
                                </tr>`;
                    for (let i = 0; i < resp.length; i++) {
                        data += `
                            <tr>
                                <td>${resp[i].boardNum}</td>
                                <td>${resp[i].category}</td>
                                <td>${resp[i].title}</td>
                            </tr>`;
                    }
                    $("#listTable").html(data);
                }
            })
        }

        function listByCategory() {
            let category = $("#category").val();
            console.log(category);
            let searchWord = $("#searchWord").val();
            console.log(searchWord);

            $.ajax({
                url:"/search/searchByCategory",
                method:"GET",
                data :{"category":category, "searchWord":searchWord},
                success : function (resp) {
                    console.log(resp)
                    let data = `<tr>
                                    <th>번호</th>
                                    <th>카테고리</th>
                                    <th>제목</th>
                                </tr>`;
                    for (let i = 0; i < resp.length; i++) {
                        data+=`
                            <tr>
                                <td>${resp[i].boardNum}</td>
                                <td>${resp[i].category}</td>
                                <td>${resp[i].title}</td>
                            </tr>`;
                    }
                    $("#listTable").html(data);
                }
            })
        }
    </script>

</head>
<body>

    <div class="container">

        <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/img/cat.png}" alt="로고">
            </a>
            <h2> 판매 정보 게시판 </h2>
        </div>

        <div class="search">
            <form th:action="@{/search/searchList}">
                <select name="category" id="category">
                    <option value="total">전체</option>
                    <option value="clothes">옷</option>
                    <option value="shoes">신발</option>
                    <option value="bag">가방</option>
                </select>
                <input type="text" name="searchWord" id="searchWord">
            </form>
        </div>

        <div class="content">
            <table  id="listTable">

            </table>

        </div>


    </div>
    
</body>
</html>