@charset "UTF-8";
@import "main.css";


/* *******************************
    회원가입 / 로그인 화면
********************************* */

.content{
    width: 1000px;
    margin: 0 auto;
}

.content .section{
    padding: 80px;
}


.section>.article{
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 50px;
}

.section>.article>ul{
    margin: 10px auto;
}

.section>.article>ul>li{
    color: #c5c1c1;
    width: 90%;
    padding-bottom: 10px;
}

.section>.article>ul>li>input {
    /* 영역 100%를 기준으로 아이콘, 여백 등의 크기(60px)을 뺀 나머지 여백을 폭으로 지정 */
    width: calc(100% - 60px);
    background-color: #d8d4d4;
    margin: 10px 0 0 10px;
    padding: 10px;
    border: inherit;
}

/* 아이디 확인 문구 */
.section>.article>ul>li>#confirmID {
    margin-left: 40px;
}

.btns {
    text-align: center;
}


.content .section.pointColor{
    background: linear-gradient(45deg,
        rgb(132, 137, 138) 0%,
        rgb(41, 41, 42) 100%);
    border-radius: 50px;
}



