@charset "UTF-8";
@import "main.css";

/****************************
    글쓰기 화면
****************************/
 

div.content{
    width: 1000px;
    margin-left: 60px;
}


.content {
    margin: 0 auto;
    /* 위쪽과 아래쪽에 18%의 여백을 주고, 좌우는 자동으로 정렬 */
    width: 900px;
    /* 원하는 너비로 설정 */
    max-width: 1000px;
    /* 최대 너비 설정 */
    background-color: rgb(214, 213, 213);
    /* 배경색 지정 */
    padding: 20px;
    /* 내부 여백 설정 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* 그림자 효과 설정 */
}

label.category,
label.title,
label.contents{
    display: block;
    margin-top: 20px;
    text-align: left;
}

input#title{
    width: 500px;
    height: 30px;
}


/* CKEditor 높이 조절 */
.ck-editor__editable {
    margin-top: 8px;
    min-height: 500px; /* 높이 조절 */
    max-height: 500px; /* 높이 조절 */
}
/****************************
    첨부파일 delete
****************************/

.attach {
    display: flex;
    align-items: center;
    padding-bottom: 6px;
}

.attach img {
    padding-left: 9px;
    width: 21px;
} 

.attach img:hover {
    cursor: pointer;
    width: 22.5px;
}

input#saveBtn{
    margin-top: 20px;
}

