<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
    <div class="container">

        <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/img/cat.png}" alt="로고">
            </a>
            <h2>  [로그인] </h2>
        </div>
        
        <form th:action="@{/user/loginProc}" method="post">
            <table>
                <tr>
                    <th>ID </th>
                    <td>
                        <input type="text" name="memId">
                    </td>
                </tr>
                <tr>
                    <th>비밀번호 </th>
                    <td>
                        <input type="password" name="memPw">
                    </td>
                </tr>
            </table>
            <th:block th:if="${error}">
                <div th:text="${errMessage}" style="color: red; font-size: 0.7em; padding-bottom: 2px;"></div>
            </th:block>
        
        <input type="submit" value="LOGIN">
    </form>
    </div>
    
</body>
</html>